<header class="flex flex-row justify-between items-center">
  <a routerLink="/" class="logo">EBS</a>
  <nav>
    <ul class="navlinks">
      <li routerLinkActive="active"><a routerLink="/">Home</a></li>
      <li routerLinkActive="active"><a routerLink="/about">About</a></li>
      <li routerLinkActive="active"><a routerLink="/contact">Contact</a></li>
    </ul>
  </nav> 

  <div>
    <a routerLink="/auth/login" class="btn">Login</a>
    <a routerLink="/auth/register" class="btn">Register</a>
  </div>

</header>